<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Product</th>
        <th>Description</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
    <% @order.line_items.each do |product| %>
      <%= render 'product', product: :product, quantity: :quantity.to_i %>
    <% end %>
  </tbody>
  </table>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
    <p>Total Amount: <%= number_to_currency(@order.total_amount) %></p>
    <p>Email: <%= @order.email %></p>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
